/*quitar los border a la imágenes cuanto son hipervínculos*/
img{ border:0; }

/*Texto alineado a la derecha*/
.right{ text-align:right; }

/*Texto alineación justificada*/
.justify{ text-align:justify; }

/*Texto alineado al centro*/
.center{ text-align:center; }

h1{
	font-size: 2.0em;
	text-align: center;
}
h2{
	font-size: 1.5em;
	text-decoration: underline;

}


/*Contenedor principal*/
#container {
	margin: 0 auto;
	max-width: 1024px;
	border: 1px solid #000;
	font-family: 'Oswald', serif;
}
/*********************************/
/*Encabezado*/
#header {
/*Color en degradado creado en http://www.colorzilla.com/gradient-editor/ */
	padding: 20px;
	height:60px;
	background-color: #46C7C7;
}

#header h1 { 
	margin: 0;
	font-weight:300;
	color: white;
	text-shadow: 3px 3px gray;

}
/*********************************/
/*Menú*/
#navigation {
	float: left;
	width: 100%;
	border:1px solid #000;
	background-color: whitesmoke;
}

#navigation ul {	
	margin: 0;
	padding: 0;
	list-style-type: none;	
}

#navigation ul li {	display: inline; }

#navigation li a {
	display: block;
	float: left;
	padding: 5px 10px;
	text-decoration: none;	
}

#navigation li a:hover { background: #E5E4E2; }
/*********************************/
/*Contenido*/
#content {
	clear: left;
	padding: 20px;
	background-color: #F0F8FF;
}

#content table{
	text-align: center;
	border-collapse: collapse;
	margin: 35%;
	margin-top: 3%;
	margin-bottom: 3%;
	background-color: whitesmoke;
}

#content table th, td {
	border: 0.5px solid black;
	padding: 5px 5px;
}

fieldset {
	background-color: whitesmoke;
}

legend {
	text-align: center;
	background-color: #8EEBCE;
	color: black;
	border-style: outset;
	padding: 5px 10px;
}

#content h1, #content h2 {
	margin: 0 0 1em 0;	
}
/*********************************/
/*Pie*/
#footer {
	text-align: right;
	padding: 15px;
	height: 150px;
	border: 1px solid #000;
	background-color: #8EEBCE;

}

#footer p { float:right; }

#footer h2 { margin:0; }

#footer ul {
	float:left;
	list-style-type: none;
	text-align:left;
	margin: 0 0 10px 0;		
	padding:0;

}

#footer ul li a {
	text-decoration:underline;
	color: black;
}

#footer ul li a:hover {	text-decoration:underline; }

#footer .visitanos {
	margin-bottom: 10px;
	font-size:0.90em;
}

#alineado{width:700px;}

#alineado label{
	width: 25%;
	text-align: right;		
}

#alineado label, 
#alineado input, 
#alineado select, 
#alineado textarea{
	display:inline-block;
}

#alineado .chk{
	display:block;
	margin-left:25%;
	text-align:left;	
}

label.chk input {
	display:inline;
	border:0;
}

#vertical label{
	display:block;
}

#horizontal textarea, .horizontal select, .horizontal input, .horizontal label{
	display:inline;
}